<section class="features" id="features">
  <div class="main-container main-container_small">
    <h2 class="features-title">What We Do</h2>

    <div class="features-wrapper">
      <div class="features-block">
        <div class="features-block__img features-block__img_shifted">
          <img src="images/features/features-img_1.png" alt="" class="features-block__image">
        </div>
        <div class="features-block__title">Device Authentication</div>
        <div class="features-block__descr">Hardware-based device fingerprinting resilient to cloning, malware and device
          jailbreak/root Hardware-level control over the displayed UI independent of the device operating system.
          Hardware-level data protection.</div>
      </div>
      
      <div class="features-block">
        <div class="features-block__img">
          <img src="images/features/features-img_2.png" alt="" class="features-block__image">
        </div>
        <div class="features-block__title">User Authentication</div>
        <div class="features-block__descr">Verify the identity of users for access control with contemporary biometric
          connected MFA security tokens.</div>
      </div>
      
      <div class="features-block">
        <div class="features-block__img">
          <img src="images/features/features-img_3.png" alt="" class="features-block__image">
        </div>
        <div class="features-block__title">Transaction Authentication</div>
        <div class="features-block__descr">High assurance out-of-band authentication of high impact transactions and
          instructions initiated through electronic service delivery channels. Audit trail of verification for
          non-repudiation. Fraud protection against man-in-the-middle and browser malware.</div>
      </div>
      
      <div class="features-block">
        <div class="features-block__img features-block__img_shifted">
          <img src="images/features/features-img_4.png" alt="" class="features-block__image">
        </div>
        <div class="features-block__title">Contemporary<br>authentication methods</div>
        <div class="features-block__descr">Echidna authentication server to enable adaptive risk-based approach to
          security through a range of methods for different levels of authentication assurance from SMS OTPs,
          Challenge/Response, to more contemporary QR code signing and advanced connected mobile security tokens capable
          of transaction signatures with dynamic linking of the transaction context and addition of PIN, Fingerprint and
          other biometrics.</div>
      </div>
      
      <div class="features-block">
        <div class="features-block__img">
          <img src="images/features/features-img_5.png" alt="" class="features-block__image">
        </div>
        <div class="features-block__title">HSM Solutions</div>
        <div class="features-block__descr">Reseller of Thales nShield HSMs with professional services and subject matter
          expertise in HSMs, key ceremony procedures, and SEE code development.</div>
      </div>
      
      <div class="features-block">
        <div class="features-block__img">
          <img src="images/features/features-img_6.png" alt="" class="features-block__image">
        </div>
        <div class="features-block__title">Cloud & IoT Security</div>
        <div class="features-block__descr">Secure the identity and access of users, devices and Internet of Things
          connecting into the cloud. Support cloud adoption and migration of applications and data into private and public
          clouds.</div>
      </div>
    </div>
  </div>
</section>