<section class="feature-video">
  <div class="main-container video-container">
    <div class="feature-video__wrapper">
      <div class="feature-video__text">
        <h2 class="feature-video__title">Product Spotlight</h2>
      
        <p class="feature-video__descr">Salt mSign Connected Token is a contemporary mobile security 2FA token for
          authentication of user identity and verification of transactions independent of the delivery channel that
          initiated the request.</p>
      
        <button class="feature-video__button button">MORE INFO</button>
      </div>
      
      <div data-fancybox="video-gallery" data-src="https://vimeo.com/107426942" class="feature-video__clip">
        <button class="play-button">
          <img src="images/play-button.png" alt="" class="play-icon">
        </button>
        <span class="play-title">FEATURE VIDEO</span>
        <span class="play-descr">mSign Connected token</span>
      </div>
    </div>
  </div>
</section>