<footer class="footer">
    <div class="main-container">
        <div class="footer-section">
            <div class="twitter-widget">
                <a class="twitter-timeline" data-width="300" data-height="295"
                    href="https://twitter.com/saltgroup?ref_src=twsrc%5Etfw">Tweets by saltgroup</a>
                    <script async src="https://platform.twitter.com/widgets.js"></script>
            </div>

            <div class="footer-section__links footer-section__nav">
                <h3 class="footer-section__title">
                    <img src="images/polygon.svg" alt="" class="footer-section__title_img">
                    <span class="footer-section__title_text">Navigation</span>
                </h3>

                <ul class="footer-section__block">
                    <li class="footer-section__item">
                        <a href="#" class="footer-section__link">Home</a>
                    </li>
                    <li class="footer-section__item">
                        <a href="#" class="footer-section__link">Products</a>
                    </li>
                    <li class="footer-section__item">
                        <a href="#" class="footer-section__link">Services</a>
                    </li>
                    <li class="footer-section__item">
                        <a href="#" class="footer-section__link">Resources</a>
                    </li>
                    <li class="footer-section__item">
                        <a href="#" class="footer-section__link">About</a>
                    </li>
                    <li class="footer-section__item">
                        <a href="#" class="footer-section__link">CONTACT US</a>
                    </li>
                </ul>
            </div>

            <div class="footer-section__links">
                <h3 class="footer-section__title">
                    <img src="images/polygon.svg" alt="" class="footer-section__title_img">
                    <span class="footer-section__title_text">Links</span>
                </h3>

                <ul class="footer-section__block">
                    <li class="footer-section__item">
                        <a href="#" class="footer-section__link">Disclaimer</a>
                    </li>
                    <li class="footer-section__item">
                        <a href="#" class="footer-section__link">Legal</a>
                    </li>
                    <li class="footer-section__item">
                        <a href="#" class="footer-section__link">Environment Policy</a>
                    </li>
                    <li class="footer-section__item">
                        <a href="#" class="footer-section__link">Privacy</a>
                    </li>
                </ul>
            </div>

            <div class="footer-section__links footer-section__contacts">
                <h3 class="footer-section__title">
                    <img src="images/polygon.svg" alt="" class="footer-section__title_img">
                    <span class="footer-section__title_text">Contact sales</span>
                </h3>

                <div class="contacts">
                    <span class="contacts__text">PHONE:</span>
                    <a href="tel:+61396144416" class="contacts__link">+61 3 9614 4416</a>
                </div>

                <div class="contacts">
                    <span class="contacts__text">EMAIL:</span>
                    <a href="mailto:sales@saltgroup.com.au" class="contacts__link">sales@saltgroup.com.au</a>
                </div>
            </div>
        </div>
    </div>
</footer>