<div class="main">
    <header class="header">
        <div class="main-container">
            <div class="header-content">
                <div class="header-logo">
                    <a href="index.html">
                        <img src="images/header-logo.png" alt="" class="header-logo__img">
                    </a>
                </div>

                <a href="#" class="menu-button">
                    <img src="images/menu.png" alt="menu">
                </a>
                
                <div class="navbar">
                    <a href="#" class="close-button">&times;</a>

                    <nav class="nav">
                        <ul class="menu">
                            <li class="menu__item">
                                <a href="#" class="menu__link">Home</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Products</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Services</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Resources</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">About</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">CONTACT US</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>