<div class="numbers">
  <div class="main-container main-container_numbers">
    <div class="numbers-wrapper">
      <div class="numbers-block">
        <div class="numbers-block__count">126,300</div>
        <div class="numbers-block__descr">Identity Theft Cases Reported in Australia</div>
      </div>
      <div class="numbers-block">
        <div class="numbers-block__count">$20.1bn</div>
        <div class="numbers-block__descr">Online Transactions per annum by Australians</div>
      </div>
      <div class="numbers-block">
        <div class="numbers-block__count">45,511</div>
        <div class="numbers-block__descr">Online Fraud Cases Reported in Australia</div>
      </div>
    </div>
  </div>
</div>