<div class="slider swiper-container">
  <div class="slider-wrapper swiper-wrapper">
    <div class="slider__item swiper-slide">
      <div class="slider__text">
        <h3 class="slider__title">Device Authentication</h3>
        <p class="slider__descr">SALT Group is a world leader in authentication and security. We have a range of services
          to improve user authentication. Discover the possibilities with SALT.</p>
        <button class="button slider__button">GET STARTED</button>
      </div>
      <div class="slider__img">
        <img src="images/twitter.svg" alt="" class="slider__image">
      </div>
    </div>

    <div class="slider__item swiper-slide">
      <div class="slider__text">
        <h3 class="slider__title">Device Authentication</h3>
        <p class="slider__descr">SALT Group is a world leader in authentication and security. We have a range of services
          to improve user authentication. Discover the possibilities with SALT.</p>
        <button class="button slider__button">GET STARTED</button>
      </div>
      <div class="slider__img">
        <img src="images/twitter.svg" alt="" class="slider__image">
      </div>
    </div>

    <div class="slider__item swiper-slide">
      <div class="slider__text">
        <h3 class="slider__title">Device Authentication</h3>
        <p class="slider__descr">SALT Group is a world leader in authentication and security. We have a range of services
          to improve user authentication. Discover the possibilities with SALT.</p>
        <button class="button slider__button">GET STARTED</button>
      </div>
      <div class="slider__img">
        <img src="images/twitter.svg" alt="" class="slider__image">
      </div>
    </div>
  </div>

  <div class="swiper-pagination"></div>
</div>